<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Cica-Track</title>
</head>
<body>
    <h2> Registro de Datos del Vendaje</h2>

    <form th:action="@{/mediciones/guardar}" th:object="${medicion}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div style="margin-bottom: 10px;">
            <label>Temperatura (ºC):</label><br>
            <input type="number" step="0.1" th:field="{temperatura}" required />
        </div>

        <div style="margin-bottom: 10px;">
            <label>Nivel de pH:</label><br>
            <input type="number" step="0.1" th:field="{ph}" required />
        </div>

        <div style="margin-bottom: 10px;">
            <label>Humedad (%):</label><br>
            <input type="number" step="0.1" th:field="{humedad}" required />
        </div>

        <button type="submit">Guardar Datos</button>
    </form>

    <br>
    <a th:href="@{/mediciones}">⬅ Volver al listado</a>
</body>
</html>